#container
	#logo
		img(src="images/cubavatar.png")

	#header
		h1= title
		p Welcome to #{title}

    #calendar
        |<iframe src="https://www.google.com/calendar/embed?title=Pack%20143%20Events&amp;showCalendars=0&amp;showTz=0&amp;height=300&amp;wkst=2&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=5ip28buus4qflru3k61u7v1ols%40group.calendar.google.com&amp;color=%235229A3&amp;src=3oiaens4sd7220981vctqvac44%40group.calendar.google.com&amp;color=%232952A3&amp;src=vk1mo94gt4gurgftfh398rvijk%40group.calendar.google.com&amp;color=%23B1440E&amp;src=nrbvg13htej83t26mrp917i6s0%40group.calendar.google.com&amp;color=%23875509&amp;src=mh83pba5esm2o5ng0ft6ha7o0g%40group.calendar.google.com&amp;color=%23B1365F&amp;src=rckduhvionlgp20b2b5ii8lsb4%40group.calendar.google.com&amp;color=%232F6309&amp;src=6nqgbal5u7751qjgc05899vqu0%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=knibh41ta9mg2nvbrgtufvlkb4%40group.calendar.google.com&amp;color=%235F6B02&amp;ctz=America%2FChicago" style=" border-width:0 " width="550" height="300" frameborder="0" scrolling="no"></iframe>

	#signupForm
		|<!-- Begin MailChimp Signup Form -->
		|<div id="mc_embed_signup">
		|<form action="http://twitter.us4.list-manage2.com/subscribe/post?u=82a43be539d9f2983d3cf84e9&amp;id=087c75407b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
		|	<h1>Subscribe to our mailing list</h1>
		|<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
		|<div class="mc-field-group">
		|	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
		|</label>
		|	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
		|</div>
		|<div class="mc-field-group">
		|	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
		|</label>
		|	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
		|</div>
		|<div class="mc-field-group">
		|	<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
		|</label>
		|	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
		|</div>
		|<div class="mc-field-group">
		|	<label for="mce-CUBNAME1">Scout Name(s)<span class="asterisk">*</span>
		|</label>
		|	<input type="text" value="" name="CUBNAME1" class="required" id="mce-CUBNAME1">
		|</div>
		|<div class="mc-field-group size1of2">
		|	<label for="mce-PHONE">Primary Phone Number  <span class="asterisk">*</span>
		|</label>
		|    <div class="phonefield phonefield-us">
		|        (<span class="phonearea"><input pattern="[0-9]*" id="mce-PHONE-area" name="PHONE[area]" maxlength="3" size="3" value="" type="text"></span>)
		|        <span class="phonedetail1"><input pattern="[0-9]*" id="mce-PHONE-detail1" name="PHONE[detail1]" maxlength="3" size="3" value="" type="text"></span> - 
		|        <span class="phonedetail2"><input pattern="[0-9]*" id="mce-PHONE-detail2" name="PHONE[detail2]" maxlength="4" size="4" value="" type="text"></span>
		|		<span class="small-meta nowrap">(###) ###-####</span>
		|    </div>
		|</div><div class="mc-field-group input-group">
		|    <h2>Dens you want to be subscribed to:</h2>
		|    <ul><li><input type="checkbox" value="1" name="group[7661][1]" id="mce-group[7661]-7661-0"><label for="mce-group[7661]-7661-0">Tiger Cubs</label></li>
		|<li><input type="checkbox" value="2" name="group[7661][2]" id="mce-group[7661]-7661-1"><label for="mce-group[7661]-7661-1">Webelos I</label></li>
		|<li><input type="checkbox" value="4" name="group[7661][4]" id="mce-group[7661]-7661-2"><label for="mce-group[7661]-7661-2">Bears</label></li>
		|<li><input type="checkbox" value="8" name="group[7661][8]" id="mce-group[7661]-7661-3"><label for="mce-group[7661]-7661-3">Wolves</label></li>
		|<li><input type="checkbox" value="16" name="group[7661][16]" id="mce-group[7661]-7661-4"><label for="mce-group[7661]-7661-4">Webelos II</label></li>
		|<li><input type="checkbox" value="32" name="group[7661][32]" id="mce-group[7661]-7661-5"><label for="mce-group[7661]-7661-5">Crossed Over Webelos</label></li>
		|</ul>
		|</div>
		|	<div id="mce-responses" class="clear">
		|		<div class="response" id="mce-error-response" style="display:none"></div>
		|		<div class="response" id="mce-success-response" style="display:none"></div>
		|	</div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		|</form>
		|</div>
		|<script type="text/javascript">
		|var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='CUBNAME1';ftypes[3]='text';fnames[4]='CUBNAME2';ftypes[4]='text';fnames[5]='CUBNAME3';ftypes[5]='text';fnames[6]='PHONE';ftypes[6]='phone';fnames[7]='MMERGE7';ftypes[7]='phone';
		|try {
		|    var jqueryLoaded=jQuery;
		|    jqueryLoaded=true;
		|} catch(err) {
		|    var jqueryLoaded=false;
		|}
		|var head= document.getElementsByTagName('head')[0];
		|if (!jqueryLoaded) {
		|    var script = document.createElement('script');
		|    script.type = 'text/javascript';
		|    script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
		|    head.appendChild(script);
		|    if (script.readyState && script.onload!==null){
		|        script.onreadystatechange= function () {
		|              if (this.readyState == 'complete') mce_preload_check();
		|        }    
		|    }
		|}
		|var script = document.createElement('script');
		|script.type = 'text/javascript';
		|script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
		|head.appendChild(script);
		|var err_style = '';
		|try{
		|    err_style = mc_custom_error_style;
		|} catch(e){
		|    err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
		|}
		|var head= document.getElementsByTagName('head')[0];
		|var style= document.createElement('style');
		|style.type= 'text/css';
		|if (style.styleSheet) {
		|  style.styleSheet.cssText = err_style;
		|} else {
		|  style.appendChild(document.createTextNode(err_style));
		|}
		|head.appendChild(style);
		|setTimeout('mce_preload_check();', 250);
		|
		|var mce_preload_checks = 0;
		|function mce_preload_check(){
		|    if (mce_preload_checks>40) return;
		|    mce_preload_checks++;
		|    try {
		|        var jqueryLoaded=jQuery;
		|    } catch(err) {
		|        setTimeout('mce_preload_check();', 250);
		|        return;
		|    }
		|    try {
		|        var validatorLoaded=jQuery("#fake-form").validate({});
		|    } catch(err) {
		|        setTimeout('mce_preload_check();', 250);
		|        return;
		|    }
		|    mce_init_form();
		|}
		|function mce_init_form(){
		|    jQuery(document).ready( function($) {
		|      var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
		|      var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
		|      $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
		|      options = { url: 'http://twitter.us4.list-manage2.com/subscribe/post-json?u=82a43be539d9f2983d3cf84e9&id=087c75407b&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
		|                    beforeSubmit: function(){
		|                        $('#mce_tmp_error_msg').remove();
		|                        $('.datefield','#mc_embed_signup').each(
		|                            function(){
		|                                var txt = 'filled';
		|                                var fields = new Array();
		|                                var i = 0;
		|                                $(':text', this).each(
		|                                    function(){
		|                                        fields[i] = this;
		|                                        i++;
		|                                    });
		|                                $(':hidden', this).each(
		|                                    function(){
		|                                        var bday = false;
		|                                        if (fields.length == 2){
		|                                            bday = true;
		|                                            fields[2] = {'value':1970};//trick birthdays into having years
		|                                        }
		|                                    	if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
		|                                    		this.value = '';
		|									    } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
		|                                    		this.value = '';
		|									    } else {
		|									        if (/\[day\]/.test(fields[0].name)){
		|    	                                        this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;									        
		|									        } else {
		|    	                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
		|	                                        }
		|	                                    }
		|                                    });
		|                            });
		|                        return mce_validator.form();
		|                    }, 
		|                    success: mce_success_cb
		|                };
		|      $('#mc-embedded-subscribe-form').ajaxForm(options);
		|    });
		|}
		|function mce_success_cb(resp){
		|    $('#mce-success-response').hide();
		|    $('#mce-error-response').hide();
		|    if (resp.result=="success"){
		|        $('#mce-'+resp.result+'-response').show();
		|        $('#mce-'+resp.result+'-response').html(resp.msg);
		|        $('#mc-embedded-subscribe-form').each(function(){
		|            this.reset();
		|    	});
		|    } else {
		|        var index = -1;
		|        var msg;
		|        try {
		|            var parts = resp.msg.split(' - ',2);
		|            if (parts[1]==undefined){
		|                msg = resp.msg;
		|            } else {
		|                i = parseInt(parts[0]);
		|                if (i.toString() == parts[0]){
		|                    index = parts[0];
		|                    msg = parts[1];
		|                } else {
		|                    index = -1;
		|                    msg = resp.msg;
		|                }
		|            }
		|        } catch(e){
		|            index = -1;
		|            msg = resp.msg;
		|        }
		|        try{
		|            if (index== -1){
		|                $('#mce-'+resp.result+'-response').show();
		|                $('#mce-'+resp.result+'-response').html(msg);            
		|            } else {
		|                err_id = 'mce_tmp_error_msg';
		|                html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
		|                
		|                var input_id = '#mc_embed_signup';
		|                var f = $(input_id);
		|                if (ftypes[index]=='address'){
		|                    input_id = '#mce-'+fnames[index]+'-addr1';
		|                    f = $(input_id).parent().parent().get(0);
		|                } else if (ftypes[index]=='date'){
		|                    input_id = '#mce-'+fnames[index]+'-month';
		|                    f = $(input_id).parent().parent().get(0);
		|                } else {
		|                    input_id = '#mce-'+fnames[index];
		|                    f = $().parent(input_id).get(0);
		|                }
		|                if (f){
		|                    $(f).append(html);
		|                    $(input_id).focus();
		|                } else {
		|                    $('#mce-'+resp.result+'-response').show();
		|                    $('#mce-'+resp.result+'-response').html(msg);
		|                }
		|            }
		|        } catch(e){
		|            $('#mce-'+resp.result+'-response').show();
		|            $('#mce-'+resp.result+'-response').html(msg);
		|        }
		|    }
		|}
		|</script>
		|<!--End mc_embed_signup-->

p.footer
	a(href='https://www.facebook.com/pages/Sun-Prairie-Cub-Scouts-Pack-143/144405672311295')
		img(src='images/fb.png')
	a(href='http://www.twitter.com/cspack143')
		img(src='images/twitter.png')